absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.2.0
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569681205/work
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blis @ file:///opt/conda/conda-bld/cython-blis_1651219782567/work
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
cachetools==4.2.4
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1661366519934/work
certifi @ file:///croot/certifi_1665076670883/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.1.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
cryptography @ file:///tmp/build/80754af9/cryptography_1652083456434/work
cycler==0.11.0
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1649412169067/work
Cython==0.29.32
dask==2022.2.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy==1.6.0
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.3.5.1
distributed==2022.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649908585034/work
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc9
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
filelock==3.6.0
Fiona==1.8.21
fire==0.4.0
flatbuffers==22.11.23
fonttools==4.33.3
frozenlist==1.3.1
fsspec==2022.8.1
future==0.18.2
gast==0.4.0
gdown==4.6.0
gensim==4.2.0
geopandas==0.10.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.50.0
h11==0.14.0
h5py==3.7.0
HeapDict==1.0.1
huggingface-hub==0.9.1
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648562407465/work
importlib-resources==5.7.1
inflect==5.6.0
ipykernel @ file:///opt/conda/conda-bld/ipykernel_1662361798230/work
ipython @ file:///tmp/abs_94gruux8u8/croots/recipe/ipython_1659529858706/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.7.0
isodate==0.6.1
jax==0.3.25
jedi @ file:///tmp/build/80754af9/jedi_1644299024593/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json-lines==0.5.0
jsonlines==3.0.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-console==6.4.3
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_nbextensions_1614931162960/work
jupyter-core @ file:///opt/conda/conda-bld/jupyter_core_1651671229925/work
jupyter-highlight-selected-word @ file:///home/conda/feedstock_root/build_artifacts/jupyter_highlight_selected_word_1638382836709/work
jupyter-latex-envs @ file:///home/conda/feedstock_root/build_artifacts/jupyter_latex_envs_1614852190293/work
jupyter-nbextensions-configurator @ file:///home/conda/feedstock_root/build_artifacts/jupyter_nbextensions_configurator_1611341112910/work
jupyter_client @ file:///opt/conda/conda-bld/jupyter_client_1662504365333/work
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.11.0
keras-nightly==2.12.0.dev2022112908
kiwisolver==1.4.4
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
libclang==14.0.6
lightning-lite==1.8.0.post1
lightning-utilities==0.3.0
locket==1.0.0
lxml @ file:///opt/conda/conda-bld/lxml_1657545139709/work
Markdown==3.4.1
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib @ file:///opt/conda/conda-bld/matplotlib-suite_1660167928326/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
msgpack==1.0.4
multidict==6.0.2
multiprocess==0.70.13
munch==2.5.0
munkres==1.1.4
murmurhash @ file:///opt/conda/conda-bld/murmurhash_1651237169273/work
nbclient==0.6.3
nbconvert==5.6.1
nbformat @ file:///tmp/build/80754af9/nbformat_1649844918397/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847911453/work
networkx==2.6.3
nlpaug==1.1.11
nltk==3.7
notebook @ file:///opt/conda/conda-bld/notebook_1651734535442/work
numexpr @ file:///opt/conda/conda-bld/numexpr_1656940300424/work
numpy==1.21.6
oauthlib==3.2.2
openai==0.25.0
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.2.0
overrides==7.3.1
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.5
pandas-stubs==1.2.0.62
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.3.0
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1656568808184/work
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickle5==0.0.12
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.2.0
ply==3.11
preshed @ file:///opt/conda/conda-bld/preshed_1651240927559/work
progressbar2==3.38.0
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.6
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///opt/conda/conda-bld/pydantic_1651218725116/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyproj==3.2.1
PyQt5-sip==12.11.0
pyrallel.lib==0.0.10
pyrsistent==0.18.1
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-utils==3.1.0
pytorch-lightning==0.9.0
pytz==2022.2.1
PyYAML==6.0
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
qtconsole==5.3.0
QtPy==2.1.0
rdflib==6.2.0
regex==2022.4.24
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.1
rltk==2.0.0a20
rsa==4.9
Rtree==1.0.0
sacremoses==0.0.53
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642601761909/work
scipy @ file:///tmp/build/80754af9/scipy_1641536880743/work
selenium==4.5.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentence-transformers==2.2.2
sentencepiece==0.1.96
setuptools-scm==6.4.2
Shapely==1.8.4
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1659638615822/work
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy @ file:///opt/conda/conda-bld/spacy_1656601313568/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1660748275723/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1661365735520/work
srsly==2.4.4
statsmodels==0.13.5
stemming==1.0.1
tb-nightly==2.12.0a20221129
tblib==1.7.0
tensorboard==2.2.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.11.0
tensorflow-io==0.29.0
tensorflow-io-gcs-filesystem==0.29.0
termcolor==2.1.0
terminado==0.13.3
testpath @ file:///opt/conda/conda-bld/testpath_1655908557405/work
textblob==0.17.1
tf-estimator-nightly==2.12.0.dev2022112909
thinc @ file:///opt/conda/conda-bld/thinc_1651591454033/work
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.12.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
toolz==0.12.0
torch==1.13.0
torchaudio==0.13.0
torchmetrics==0.10.2
torchvision==0.14.0
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
traitlets==5.2.0
transformers==4.21.2
trio==0.22.0
trio-websocket==0.9.2
typed-ast==1.5.4
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing==3.7.4.3
typing_extensions==4.4.0
urllib3 @ file:///tmp/abs_5dhwnz6atv/croots/recipe/urllib3_1659110457909/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1658931821849/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==3.6.0
wrapt==1.14.1
wsproto==1.2.0
xgboost==1.6.2
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl==1.8.1
zict==2.2.0
zipp @ file:///opt/conda/conda-bld/zipp_1652341764480/work
